body {
    font: "Helvetica Neue";
}

thead tr.row {
    background-color: #f9f9f9;
}

tr.row:nth-of-type(even) {
    background-color: #f9f9f9;
}

tr.row:hover {
    background-color: gainsboro;
}

table .row {
    font-size: 0.7rem;
}

button.cell {
  padding: inherit;
  font-size:inherit;
}

@media only screen and (max-width: 320px) {
  table .row {
    font-size: 0.8rem;
  }
}

input.cell {
    font-size: inherit;
    border-color: #bbbcbc;
}

@media only screen and (max-width: 320px) {
  .input.form-control {
    font-size: 0.8rem;
  }
}