body {
    font: "Helvetica Neue";
}

tr.row:nth-of-type(odd) {
    background-color: #f9f9f9;
}

tr.row:hover {
    background-color: gainsboro;
}

.row {
    font-size: 0.7rem;
}

@media only screen and (max-width: 320px) {
  .row {
    font-size: 0.8rem;
  }
}

input.form-control {
    font-size: 0.7rem;
}

@media only screen and (max-width: 320px) {
  .input.form-control {
    font-size: 0.8rem;
  }
}